In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame()

In [3]:
df

Empty DataFrame
Columns: []
Index: []

In [4]:
column_names = ["Customer", "Account", "Balance"]

bank_accounts = [["Customer1", "40817810...", 1344.],
                 ["Customer2", "40817840...", 13435444.],
                 ["Customer3", "40817978...", 134354.]]

In [6]:
type(bank_accounts)

list

In [7]:
df = pd.DataFrame(bank_accounts, columns=column_names)
df

    Customer      Account     Balance
0  Customer1  40817810...      1344.0
1  Customer2  40817840...  13435444.0
2  Customer3  40817978...    134354.0

In [8]:
bank_accounts = [{"Customer":"Customer1", "Account":"40817810...", "Balance":1344.},
                 {"Customer":"Customer2", "Account":"40817840...", "Balance":13435444.},
                 {"Customer":"Customer3", "Account":"40817978...", "Balance":134354.}]

In [9]:
df = pd.DataFrame(bank_accounts)
df

    Customer      Account     Balance
0  Customer1  40817810...      1344.0
1  Customer2  40817840...  13435444.0
2  Customer3  40817978...    134354.0

In [10]:
bank_accounts = {"Customer":["Customer1", "Customer2", "Customer3"],
                "Account":["40817810...", "40817840...", "40817978..."],
                "Balance":[1344., 13435444., 134354.]}

df = pd.DataFrame(bank_accounts)
df

    Customer      Account     Balance
0  Customer1  40817810...      1344.0
1  Customer2  40817840...  13435444.0
2  Customer3  40817978...    134354.0

In [11]:
df["Account"]

0    40817810...
1    40817840...
2    40817978...
Name: Account, dtype: object

In [12]:
df.columns

Index(['Customer', 'Account', 'Balance'], dtype='object')

In [13]:
df.columns = ['Customer Name', 'Account', 'Balance']

In [14]:
df

  Customer Name      Account     Balance
0     Customer1  40817810...      1344.0
1     Customer2  40817840...  13435444.0
2     Customer3  40817978...    134354.0

In [15]:
df.__getitem__("Account")

0    40817810...
1    40817840...
2    40817978...
Name: Account, dtype: object

In [16]:
df[1]

KeyError: 1

In [26]:
df
df[["Account"]]
df[["Account", "Balance"]]
df[["Balance", "Account"]]
df.Balance
df.Balance[1]

#x = [1, 2, 3]
#y = x

df2 = df.copy()

df3 = df2 #df3 is just a pointer

df3["Account"][1] = "XXXXXXXXXXXX"
print(df3)
print(df2)

  Customer Name       Account     Balance
0     Customer1   40817810...      1344.0
1     Customer2  XXXXXXXXXXXX  13435444.0
2     Customer3   40817978...    134354.0
  Customer Name       Account     Balance
0     Customer1   40817810...      1344.0
1     Customer2  XXXXXXXXXXXX  13435444.0
2     Customer3   40817978...    134354.0

/var/folders/rh/h38wf26j7bx6gw3hl1s3v3l00000gn/T/ipykernel_2537/3932240055.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["Account"][1] = "XXXXXXXXXXXX"

In [42]:
df.index
#df.columns
df.index = ["2023Q1", "2023Q2", "2023Q3"]
df
df["2023Q2":"2023Q3"]

df.loc[:, "Account"]
#df.loc["Account"]
df.loc["2023Q2", :]
df.loc["2023Q2", "Customer Name"]
df
df.loc["2023Q2", "Customer Name"]
df.loc["2023Q2":"2023Q3", "Account":"Balance"]
df.loc["2023Q2", ["Customer Name", "Balance"]]
df.loc[[True, False, True]]

       Customer Name      Account   Balance
2023Q1     Customer1  40817810...    1344.0
2023Q3     Customer3  40817978...  134354.0

In [53]:
df.iloc[1, 1]
df.iloc[1, 0:2]
df.iloc[1, :2]
df.iloc[[1], [1]]
df.iloc[[0, 2], [1, 2]]

df.index[[0, 2]]
df.loc[df.index[[0, 2]], "Balance"]

2023Q1      1344.0
2023Q3    134354.0
Name: Balance, dtype: float64

In [44]:
df

       Customer Name      Account     Balance
2023Q1     Customer1  40817810...      1344.0
2023Q2     Customer2  40817840...  13435444.0
2023Q3     Customer3  40817978...    134354.0

In [55]:
df.at["2023Q1", "Account"]
df.iat[1, 1]

'40817840...'

In [57]:
df
df.iloc[0, 0] = "XXXXXXX"
df

       Customer Name      Account     Balance
2023Q1       XXXXXXX  40817810...      1344.0
2023Q2     Customer2  40817840...  13435444.0
2023Q3     Customer3  40817978...    134354.0

In [64]:
df.columns.get_loc("Balance")
#df.columns.get_loc("NonExistentColumn")
df.columns.get_indexer(["Balance"])
df.columns.get_indexer(["NonExistentColumn"])
df.iloc[2, df.columns.get_loc("Balance")]

134354.0

In [88]:
df.sample(n=2)
df.sample(n=2, axis=1)
df.sample(n=2, axis=1, random_state=45654)

       Customer Name     Balance
2023Q1       XXXXXXX      1344.0
2023Q2     Customer2  13435444.0
2023Q3     Customer3    134354.0

In [99]:
df[df["Balance"] < 500000].Account
df[df.Balance < 500000].Account
df.Account[df.Balance < 500000]
df[df["Customer Name"].isin(["Customer2", "Customer3"])]
df[(df["Customer Name"] == "Customer2") | (df["Customer Name"] == "Customer3")]
df[~((df["Customer Name"] == "Customer2") | (df["Customer Name"] == "Customer3"))]

       Customer Name      Account  Balance
2023Q1       XXXXXXX  40817810...   1344.0

In [101]:
df.query("(Balance < 500000) & (`Customer Name` == 'Customer3')")

       Customer Name      Account   Balance
2023Q3     Customer3  40817978...  134354.0

In [112]:
sp500 = pd.read_csv("http://glebvasiliev.com/sp500.csv")
sp500

,ticker,previousClose,regularMarketOpen,twoHundredDayAverage,trailingAnnualDividendYield,payoutRatio,regularMarketDayHigh,averageDailyVolume10Day,regularMarketPreviousClose,fiftyDayAverage,...,volume,fiftyTwoWeekHigh,forwardPE,fiveYearAvgDividendYield,fiftyTwoWeekLow,bid,dividendYield,bidSize,dayHigh,industry
0,MMM,150.26,148.44,155.31915,0.039531,0.8296,148.7900,3293160.0,150.26,137.1894,...,4703606.0,198.81000,13.575506,3.15,125.60,147.00,0.0397,1100.0,148.7900,Conglomerates
1,AOS,64.33,63.67,68.56645,0.017099,0.3385,64.7697,594240.0,64.33,58.3420,...,590066.0,86.74000,17.307278,1.58,51.91,64.38,0.0174,800.0,64.7697,Specialty Industrial Machinery
2,ABT,112.03,111.63,120.03330,0.016603,0.3841,112.1300,3157960.0,112.03,108.8890,...,2874053.0,142.60000,23.621796,1.54,101.24,110.60,0.0168,800.0,112.1300,Medical Devices
3,ABBV,142.55,141.42,142.81995,0.038793,0.7666,142.7650,5020970.0,142.55,146.7482,...,3352316.0,175.91000,11.885715,4.28,105.56,141.49,0.0396,800.0,142.7650,Drug Manufacturers—General
4,ACN,320.78,317.42,327.39530,0.012096,0.3676,320.3300,1539530.0,320.78,291.0000,...,1469906.0,417.37000,26.918852,1.43,261.77,318.25,0.0121,1100.0,320.3300,Information Technology Services
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,XYL,103.96,102.79,96.64595,0.011158,0.5000,103.3600,850950.0,103.96,84.5394,...,532377.0,138.78000,32.379745,1.14,72.08,102.33,0.0115,900.0,103.3600,Specialty Industrial Machinery
441,YUM,119.04,117.56,121.69080,0.008989,0.4289,119.5750,1832010.0,119.04,117.0246,...,1779524.0,139.85000,22.057407,1.68,108.37,119.05,0.0192,1800.0,119.5750,Restaurants
442,ZBH,116.12,115.23,119.23954,0.008267,0.6957,115.8200,805320.0,116.12,109.2288,...,679062.0,149.28156,16.078540,0.75,100.39,112.95,0.0083,1100.0,115.8200,Medical Devices
443,ZION,58.58,57.84,61.41240,0.025947,0.2831,59.1100,1120920.0,58.58,53.1696,...,1371000.0,75.44000,8.998466,2.45,47.92,58.64,0.0278,1000.0,59.1100,Banks—Regional
444,ZTS,171.79,171.70,192.87660,0.006694,0.2608,174.7400,1560490.0,171.79,172.3620,...,1367159.0,249.27000,30.045298,0.54,154.18,172.46,0.0076,900.0,174.7400,Drug Manufacturers—Specialty & Generic

In [103]:
pd.get_option("display.max_columns")

20

In [113]:
sp500
#pd.set_option("display.max_columns", None)

sp500.head(10)
#sp500.info()
sp500.shape
sp500.describe(include="all")
#help(pd.DataFrame.describe)
sp500.shape

(445, 36)