In [1]:
import pandas as pd
import numpy as np

In [3]:
spotify = pd.read_csv("http://glebvasiliev.com/spotify23.csv", encoding="latin-1")

In [6]:
#spotify.info()
spotify.describe()

,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,in_apple_playlists,in_apple_charts,in_deezer_charts,bpm,danceability,valence,energy,acousticness,instrumentalness,liveness,speechiness
count,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000,953.00000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000
mean,1.556139,2018.238195,6.033578,13.930745,5200.124869,12.009444,67.812172,51.908709,2.666317,122.540399,66.96957,51.431270,64.279119,27.057712,1.581322,18.213012,10.131165
std,0.893044,11.116218,3.566435,9.201949,7897.608990,19.575992,86.441493,50.630241,6.035599,28.057802,14.63061,23.480632,16.550526,25.996077,8.409800,13.711223,9.912888
min,1.000000,1930.000000,1.000000,1.000000,31.000000,0.000000,0.000000,0.000000,0.000000,65.000000,23.00000,4.000000,9.000000,0.000000,0.000000,3.000000,2.000000
25%,1.000000,2020.000000,3.000000,6.000000,875.000000,0.000000,13.000000,7.000000,0.000000,100.000000,57.00000,32.000000,53.000000,6.000000,0.000000,10.000000,4.000000
50%,1.000000,2022.000000,6.000000,13.000000,2224.000000,3.000000,34.000000,38.000000,0.000000,121.000000,69.00000,51.000000,66.000000,18.000000,0.000000,12.000000,6.000000
75%,2.000000,2022.000000,9.000000,22.000000,5542.000000,16.000000,88.000000,87.000000,2.000000,140.000000,78.00000,70.000000,77.000000,43.000000,0.000000,24.000000,11.000000
max,8.000000,2023.000000,12.000000,31.000000,52898.000000,147.000000,672.000000,275.000000,58.000000,206.000000,96.00000,97.000000,97.000000,97.000000,91.000000,97.000000,64.000000

In [13]:
spotify.danceability.mean()
spotify.danceability.median()
spotify.loc[:, ["danceability", "bpm"]].mean()
spotify.danceability.std()
spotify.danceability.quantile(0.25)
spotify.artist_names.mode()

0    Taylor Swift
Name: artist_names, dtype: object

In [15]:
#or "mean"
spotify.agg(mean_danceability = ("danceability", np.mean),
           max_energy = ("energy", max)) 

#pd.NamedAgg()

spotify.agg({"danceability": "mean",
            "energy": "max"})

danceability    66.96957
energy          97.00000
dtype: float64

In [21]:
spotify["key"].value_counts()
spotify["key"].value_counts(normalize=True)
spotify["key"].value_counts(normalize=True).sort_index()

(
spotify["key"]
    .value_counts(normalize=True)
    .sort_index()
)

(
spotify
    [["key", "mode"]]
    .value_counts(normalize=True)
    .sort_index()
)

key  mode
A    Major    0.048951
     Minor    0.038462
A#   Major    0.031469
     Minor    0.034965
B    Major    0.040793
     Minor    0.053613
C#   Major    0.085082
     Minor    0.054779
D    Major    0.076923
     Minor    0.017483
D#   Major    0.013986
     Minor    0.024476
E    Major    0.019814
     Minor    0.052448
F    Major    0.051282
     Minor    0.052448
F#   Major    0.034965
     Minor    0.050117
G    Major    0.076923
     Minor    0.034965
G#   Major    0.073427
     Minor    0.032634
dtype: float64

In [25]:
spotify.artist_names.unique()

spotify2 = spotify.query("artist_names in ['Dua Lipa', 'OneRepublic', 'Miley Cyrus']")

In [42]:
spotify2.groupby("artist_names")
spotify2.groupby("artist_names").get_group("Miley Cyrus")

spotify3 = spotify2.groupby("artist_names")
spotify3.describe()
#spotify2.describe()
spotify3.head(1)
spotify3.tail(1)
spotify3.nth(2)
spotify3.groups
spotify3.size()
spotify3.nunique()

,track_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,in_apple_charts,...,bpm,key,mode,danceability,valence,energy,acousticness,instrumentalness,liveness,speechiness
artist_names,,,,,,,,,,,,,,,,,,,,,
Dua Lipa,3,1,3,3,3,3,2,3,3,3,...,3,2,1,3,3,3,3,1,3,2
Miley Cyrus,2,1,2,2,2,2,2,2,2,2,...,2,1,1,2,2,2,2,1,2,2
OneRepublic,2,1,2,2,2,2,2,2,2,2,...,2,1,2,2,2,2,2,1,2,2

In [47]:
spotify2.groupby("artist_names").mean()
spotify2.groupby("artist_names")[["danceability", "acousticness"]].mean()
spotify2.groupby("artist_names")[["danceability", "acousticness"]].agg(np.mean)
spotify2.groupby("artist_names", as_index=False)[["danceability", "acousticness"]].agg(np.mean)

  artist_names  danceability  acousticness
0     Dua Lipa     71.666667      2.666667
1  Miley Cyrus     69.000000      8.000000
2  OneRepublic     68.500000      8.500000

In [54]:
(
spotify
    .groupby("artist_names")
    [["danceability", "energy"]]
    .agg(["mean", "count", "first"])
    .droplevel(0, axis=1)
    .set_axis(["danceability", "count_d", "first_d", "energy", "count_e", "first_e"], axis=1)
    .query("count_d > 1")
    .loc[:, ["danceability", "energy"]]
    .sort_values(["danceability", "energy"], ascending=[False, False])
    .query("danceability > 70 & energy > 70")
)

                          danceability     energy
artist_names
Eminem, Dr. Dre              92.500000  80.000000
LE SSERAFIM                  87.000000  71.000000
Dr. Dre, Snoop Dogg          86.500000  83.500000
Nicki Minaj                  82.500000  81.000000
Lizzo                        80.000000  75.000000
Yandel, Feid                 79.500000  71.500000
Peso Pluma                   79.500000  70.500000
TWICE                        79.000000  90.500000
Fuerza Regida                79.000000  85.500000
(G)I-DLE                     77.500000  87.000000
Daddy Yankee                 77.500000  85.500000
Daddy Yankee, Bad Bunny      77.500000  85.000000
Rauw Alejandro, Bizarrap     77.500000  77.000000
NewJeans                     76.666667  75.666667
Stray Kids                   73.500000  79.000000
IVE                          72.250000  81.000000
Dua Lipa                     71.666667  84.000000
ENHYPEN                      71.333333  78.000000
Duki                         71.000000  77.500000

In [58]:
#dataframe.quantile(0.75) - dataframe.quantile(0.25)

(
spotify
    .groupby("artist_names")
    [["danceability", "energy"]]
    .agg(lambda x: x.quantile(0.75) - x.quantile(0.25))
)


#( this is still to be fixed!
#spotify
#    .groupby("artist_names")
#    .filter(lambda g: len(g) > 1)
#    [["danceability", "energy"]]
#    .agg("mean")
#    .sort_values(["danceability", "energy"], ascending=[False, False])
#    .query("danceability > 70 & energy > 70")
#)

/var/folders/rh/h38wf26j7bx6gw3hl1s3v3l00000gn/T/ipykernel_1597/405973632.py:12: FutureWarning: In a future version of pandas all arguments of Series.sort_values will be keyword-only.
  spotify

TypeError: unhashable type: 'list'

In [63]:
spotify.assign(fun_index = (spotify.danceability + spotify.energy) / 2)

(
spotify
    .query("artist_names in ['Dua Lipa', 'OneRepublic', 'Miley Cyrus']")
    .set_index("artist_names")
    
    .assign(fun_index = lambda df: (df.danceability + df.energy) / 2)
)

,track_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,in_apple_charts,...,key,mode,danceability,valence,energy,acousticness,instrumentalness,liveness,speechiness,fun_index
artist_names,,,,,,,,,,,,,,,,,,,,,
Miley Cyrus,Flowers,1,2023,1,12,12211,115,1316855716,300,215,...,NaN,Major,71,65,68,6,0,3,7,69.5
Dua Lipa,Dance The Night (From Barbie The Album),1,2023,5,25,2988,101,127408954,0,0,...,B,Minor,67,78,85,2,0,33,5,76.0
Miley Cyrus,Angels Like You,1,2020,11,27,3372,19,570515054,65,48,...,F,Major,67,49,64,10,0,10,3,65.5
OneRepublic,I Ain't Worried,1,2022,5,13,8431,76,1085685420,241,127,...,NaN,Major,71,82,81,11,0,6,5,76.0
OneRepublic,Counting Stars,1,2013,1,1,29215,43,2011464183,179,97,...,C#,Minor,66,48,71,6,0,12,4,68.5
Dua Lipa,Don't Start Now,1,2019,10,31,27119,0,2303033973,532,77,...,B,Minor,79,68,79,1,0,10,8,79.0
Dua Lipa,Levitating,1,2020,3,27,9833,0,797196073,233,82,...,F#,Minor,69,90,88,5,0,29,8,78.5